In [2]:
import requests
import pandas as pd
import json

url= 'https://jsonplaceholder.typicode.com/todos'

r= requests.get(url) #using get method
print(r) 


open('temp.csv', 'wb').write(r.content) #opening a temporary file to read json data
df = pd.read_json('temp.csv') ##reading data from temp file


df1= df.iloc[:5] #printing the first 5 rows using iloc
df1

<Response [200]>

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False