In [2]:
import requests
import pandas as pd
import numpy as np
import json

url= 'https://jsonplaceholder.typicode.com/todos'

r= requests.get(url) #using get method
print(r) 


open('temp.csv', 'wb').write(r.content) #opening a temporary file to read json data
df = pd.read_json('temp.csv') ##reading data from temp file


df1= df.iloc[:5] #printing the first 5 rows using iloc
df1

<Response [200]>

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False

In [31]:
df.head(7) #printing first 7 records

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False
5       1   6  qui ullam ratione quibusdam voluptatem quia omnis      False
6       1   7                  illo expedita consequatur quia in      False

In [13]:
url='https://jsonplaceholder.typicode.com/todos'
dict= {"userId": 10, "title": 'macaroni', "completed": 'false'}

req = requests.post(url, json=dict) #creating a resource using Post method
req.json()

{'userId': 10, 'title': 'macaroni', 'completed': 'false', 'id': 201}

In [14]:
req.status_code

201

In [3]:
url='https://jsonplaceholder.typicode.com/todos'
    
r= requests.get(url)
print(r)

open('temp.csv', 'wb').write(r.content)
df2 = pd.read_json('temp.csv')
df2

out=df2.loc[df['id'] == 201] #Finding the record having id 201
out

<Response [200]>

Empty DataFrame
Columns: [userId, id, title, completed]
Index: []