In [2]:
import requests
import pandas as pd
import json

url='https://jsonplaceholder.typicode.com/todos'
dict= {"userId": 10, "title": 'macaroni', "completed": 'false'}

req = requests.post(url, json=dict) #creating a resource using Post method
req.json()

{'userId': 10, 'title': 'macaroni', 'completed': 'false', 'id': 201}

In [3]:
req.status_code

201

In [5]:
url='https://jsonplaceholder.typicode.com/todos'
    
r= requests.get(url)
print(r)

open('temp.csv', 'wb').write(r.content)
df2 = pd.read_json('temp.csv')
df2

out=df2.loc[df2['id'] == 201] #Finding the record having id 201
out

<Response [200]>

Empty DataFrame
Columns: [userId, id, title, completed]
Index: []